@model Nop.Web.Models.Media.PictureModel
<a href="@Model.FullSizeImageUrl" rel="lightbox-p">
    <img src="@Model.ImageUrl" alt="@Model.AlternateText" title="@Model.Title" style="margin: 2px;" />
</a>