<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting Name="InstantSearchSettings.Enable">
    <Value>True</Value>
  </Setting>
  <Setting Name="InstantSearchSettings.NumberOfProducts">
    <Value>5</Value>
  </Setting>
  <Setting Name="InstantSearchSettings.MinKeywordLength">
    <Value>3</Value>
  </Setting>
  <Setting Name="InstantSearchSettings.PictureSize">
    <Value>70</Value>
  </Setting>
  <Setting Name="InstantSearchSettings.AutocompleteWidth">
    <Value>300</Value>
  </Setting>
  <Setting Name="InstantSearchSettings.AutocompleteHeight">
    <Value>500</Value>
  </Setting>
</Settings>
